.img-custom {
    width: 100%;
    height: 250px; /* تحديد ارتفاع ثابت للصور */
    object-fit: cover; /* جعل الصور تغطي المساحة بالكامل */
    border-radius: 8px; /* إضافة بعض الزوايا المستديرة لجعل المظهر أكثر جمالًا */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف حول الصور */
    margin-bottom: 15px; /* إضافة مسافة بين الصور */
  }
  